/******HEADER******/

.img-size {
    height: 18.75rem;
    width: 18.75rem;
}

.img-size-col {
    width: 100%;
    border-radius: .625rem;
    margin-bottom: 1.25rem;
}

.line-white {
    height: 3px;
    background-color: white;
    width: 100%;
}

.line-black {
    height: 3px;
    background-color: black;
    width: 100%;
}

/******DEBUG******/

.debug-header {
    background-color: #2C3E50;
}

.debug-section-first {
    background-color: #1ABC9C;
}

/* .debug-col {
    background-color: rgb(14, 74, 74);
} */

