/******HEADER******/

.color-header {
    background-color: #2C3E50;
}

/******MAIN******/

.img-size {
    height: 18.75rem;
    width: 18.75rem;
}

.color-section-first {
    background-color: #1ABC9C;
}

.img-size-col {
    width: 100%;
    border-radius: .625rem;
    margin-bottom: 1.25rem;
}

/******STAR STYLE******/

.line-white {
    height: 3px;
    background-color: white;
    width: 100%;
}

.line-black {
    height: 3px;
    background-color: black;
    width: 100%;
}

/******END STAR STYLE******/

.starting-bootstrap {
    color: #1ABC9C;
}

.style-button {
    background-color: #1ABC9C;
    margin-top: 1.25rem;
    color: white;
}

.btn:hover {
    background-color: #6da99d;
    color: white;
}

/******FOOTER******/

footer {
    background-color: #22303e;
}

/******DEBUG******/

/* .debug-header {
    background-color: #2C3E50;
} */

/* .debug-section-first {
    background-color: #1ABC9C;
} */

/* .debug-col {
    background-color: rgb(14, 74, 74);
} */


